<div class="page page-form-wizard">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Dispatches</a>
        </li>
        <li>
          <a ui-sref="app.dispatch.dispatch_ride_request">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">



    <uib-tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true" ng-init="steps={step1:true, step2:false, step3:false, step4:false, step5: false}">

      <uib-tab active="steps.step1">

        <uib-tab-heading>
          Add a new customer
          <span class="badge badge-default pull-right wizard-step">1</span>
        </uib-tab-heading>
        
        <form name="step1" role="form" novalidate class="form-validation" ng-submit="submitForm(step1.$valid);">

          <div class="row">
            <div class="form-group col-md-6">
              <label for="customer_search">Serach Existing Customers: </label>
              <input type="search" name="customer_search" id="customer_search" class="form-control" ng-model="customerInfo.customer_search">
              <!-- <p class="help-block">
                <span ng-show="step1.customer_search.$invalid && !step1.customer_search.$pristine">First Name is required.</span>
              </p> -->
            </div>
          </div>
                 

          <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default" ng-click="steps.step2=true">Add a new Customerdsfsdf</button>

        </form>

        <form name="step1" role="form" novalidate class="form-validation" ng-submit="submitForm(step1.$valid);">

          <div class="row">
            <div class="form-group col-md-6">
              <label for="first_name">First Name: </label>
              <input type="text" name="first_name" id="first_name" class="form-control" ng-model="customerInfo.first_name" required>
              <p class="help-block">
                <span ng-show="step1.first_name.$invalid && !step1.first_name.$pristine">First Name is required.</span>
              </p>
            </div>

            <div class="form-group col-md-6">
              <label for="last_name">Last Name: </label>
              <input type="text" name="last_name" id="last_name" class="form-control" ng-model="customerInfo.last_name" ng-minlength="3" ng-maxlength="10" required>
              <p class="help-block">
                <span ng-show="step1.last_name.$invalid && !step1.last_name.$pristine">Last name is required.</span>
             <!--    <span ng-show="step1.last_name.$error.minlength">Username is too short.</span>
                <span ng-show="step1.last_name.$error.maxlength">Username is too long.</span> -->
              </p>

              
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-12">
              <label for="email">Email: </label>
              <input type="email" name="email" id="email" class="form-control" ng-model="customerInfo.email" ng-minlength="6" required>
              <p class="help-block">
                <span ng-show="step1.email.$invalid && !step1.email.$pristine">Email is required.</span>
                <!-- <span ng-show="step1.company_name.$error.minlength">Password is too short.</span> -->
              </p>
            </div>

          </div>
          

          <div class="row">
            <div class="form-group col-md-6 mb-0">
                  <label for="mobile_number">Primary Phone Number: </label>
                  <input type="text"  placeholder="+91-636-78658"  name="mobile_number" id="mobile_number" class="form-control" ng-pattern="phoneNumbr" ng-model="customerInfo.mobile_number" numbers-only required>
                  <p class="help-block">
                    
                    <span style="color:red;" ng-show="step1.mobile_number.$error.minlength">Phone no not less that 10 char.</span>
                    <span style="color:red;" ng-show="step1.mobile_number.$error.maxlength">Phone no not more than 11 char.</span>
                    <br><span style="color:red;" ng-show="step1.mobile_number.$error.pattern">Please match pattern [+91-036-78658 || 91-036-78658]</span>
                  </p>
                </div>
            
          </div>


          <!-- <div class="form-group">
            <label for="message">About you: </label>
            <textarea class="form-control" rows="5" name="message" id="message" placeholder="Write something about you..." ng-model="customerInfo.message"></textarea>
          </div> -->

          <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default" ng-click="steps.step2=true">Add a new Customer</button>

        </form>

      </uib-tab>

      <uib-tab active="steps.step2" disable="step1.$invalid">

        <uib-tab-heading>
          Dispatch
          <span class="badge badge-default pull-right wizard-step">2</span>
        </uib-tab-heading>

       <!--  <form name="step2" role="form" novalidate>

          <div class="row">
            <div class="form-group col-md-4 mb-0">
              <label for="name">Company Name: </label>
              <input type="text" name="name" id="name" class="form-control" ng-model="customerInfo.name" placeholder="Enter company name" required>
              <p class="help-block">
                <span ng-show="step2.name.$invalid && !step2.name.$pristine">Company Name is required.</span>
              </p>
            </div>

            <div class="form-group col-md-8 mb-0">
              <p cl<label for="email">General Email Address </label>
              <input type="email" name="email" id="email" class="form-control" ng-model="customerInfo.email" placeholder="Enter Email address">
            </div>
            
          </div>

          <div class="form-group">
            <label for="street">Street: </label>
            <input type="text" name="street" id="street" class="form-control" ng-model="customerInfo.street" placeholder="Enter street address" required>
            <p class="help-block">
              <span ng-show="step2.street.$invalid && !step2.street.$pristine">Street is required.</span>
            </p>            
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="city">City: </label>
              <input type="text" name="city" id="city" class="form-control" ng-model="customerInfo.city" placeholder="Enter city" required>
              <p class="help-block">
                <span ng-show="step2.city.$invalid && !step2.city.$pristine">City is required.</span>
              </p>
            </div>
            <div class="form-group col-md-4">
              <label for="state_code">State: </label>
              <input type="text" name="state_code" id="state_code" class="form-control" ng-model="customerInfo.state_code" placeholder="Enter state" required>
              <p class="help-block">
                <span ng-show="step2.state_code.$invalid && !step2.state_code.$pristine">State is required.</span>
              </p>
            </div>
            <div class="form-group col-md-4">
              <label for="country_code">Country: </label>
              <input type="text" name="country_code" id="country_code" class="form-control" ng-model="customerInfo.country_code" placeholder="Enter country" required>
              <p class="help-block">
                <span ng-show="step2.country_code.$invalid && !step2.country_code.$pristine">Country is required.</span>
              </p>
            </div>
          </div>

           <div class="row">
            <div class="form-group col-md-6 mb-0">
              <label for="primary_phone_number">Primary Phone Number: </label>
              <input type="text" name="primary_phone_number" id="primary_phone_number" class="form-control" ng-model="customerInfo.primary_phone_number" placeholder="Enter phone number" required>
              <p class="help-block">
                <span ng-show="step2.primary_phone_number.$invalid && !step2.primary_phone_number.$pristine">Phone Number is required.</span>
              </p>
            </div>

            <div class="form-group col-md-6 mb-0">
              <label for="secondary_phone_number">Secondary Phone Number: </label>
              <input type="text" name="secondary_phone_number" id="secondary_phone_number" class="form-control" ng-model="customerInfo.secondary_phone_number" placeholder="Enter alternative phone number">
             
            </div>
            
          </div>

           <div class="row">
            <div class="form-group col-md-6 mb-0">
              <label for="bussiness_no">Business Number: </label>
              <input type="text" name="bussiness_no" id="bussiness_no" class="form-control" ng-model="customerInfo.bussiness_no" placeholder="Enter business number" required>
              <p class="help-block">
                <span ng-show="step2.bussiness_no.$invalid && !step2.bussiness_no.$pristine">Business Number is required.</span>
              </p>
            </div>

            <div class="form-group col-md-6 mb-0">
              <label for="fax">Fax Number: </label>
              <input type="text" name="fax" id="fax" class="form-control" ng-model="customerInfo.fax" placeholder="Enter fax number">
              <p class="help-block">
                <span ng-show="step2.fax.$invalid && !step2.fax.$pristine">Fax number is required.</span>
              </p>
            </div>
            
          </div>

          <button type="submit" class="btn btn-default" ng-click="steps.step1=true">Previous</button>
          <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default pull-right" ng-click="steps.step3=true">Next</button>

        </form> -->

      </uib-tab> 

      <uib-tab active="steps.step3" disable="step2.$invalid">

        <uib-tab-heading>
         Review
          <span class="badge badge-default pull-right wizard-step">3</span>
        </uib-tab-heading>

       <!--  <form name="step3" role="form" novalidate ng-submit="submitForm(step3.$valid)">

          <div class="row">
            <div class="form-group col-md-4 mb-0">
              <label for="logo">Logo upload: </label>
              <input type="file" name="logo" id="logo" class="form-control" ng-model="customerInfo.logo">
              <p class="help-block">
                <span ng-show="step3.logo.$invalid && !step3.logo.$pristine">Company Logo is required.</span>
              </p>
            </div>  
          </div>

          <button type="submit" class="btn btn-default" ng-click="steps.step2=true">Previous</button>
          <button type="submit" ng-disabled="step3.$invalid" class="btn btn-success pull-right">Finish
           <button type="submit" ng-disabled="step3.$invalid" class="btn btn-default pull-right" ng-click="steps.step4=true">Next</button>

        </form> -->
      </uib-tab>

      <!-- <uib-tab active="steps.step4" disable="step3.$invalid">

        <uib-tab-heading>
          Contact
          <span class="badge badge-default pull-right wizard-step">4</span>
        </uib-tab-heading>

        <form name="step4" role="form" novalidate>

          <div class="row">
            <div class="form-group col-md-6 mb-0">
              <label for="email">Email: </label>
              <input type="email" name="email" id="email" class="form-control" ng-model="customerInfo.email" required>
               <p class="help-block">
                <span ng-show="step4.email.$invalid && !step4.email.$pristine">Email is required.</span>
               </p>
            </div>
            <div class="form-group col-md-6 mb-0">
              <label for="phone">Phone: </label>
              <input type="text" name="phone" id="phone" class="form-control" ng-model="customerInfo.phone" placeholder="(XXX) XXXX XXX"  ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/">
               <p class="help-block">
                <span ng-show="step4.phone.$invalid && !step4.phone.$pristine">Bad format.</span>
               </p>
            </div>
          </div>

          <div class="form-group">
            <label for="web">Website: </label>
            <input type="url" name="web" id="web" class="form-control" ng-model="customerInfo.web" placeholder="http://">
             <p class="help-block">
              <span ng-show="step4.web.$invalid && !step4.web.$pristine">Bad format.</span>
             </p>
          </div>

          <button type="submit" class="btn btn-default" ng-click="steps.step3=true">Previous</button>
          <button type="submit" ng-disabled="step4.$invalid" class="btn btn-default pull-right" ng-click="steps.step5=true">Next</button>

        </form>
      </uib-tab> -->

      <!-- <uib-tab active="steps.step5" disable="step4.$invalid">

        <uib-tab-heading>
          EULA
          <span class="pull-right wizard-step">5</span>
        </uib-tab-heading>

        <p class="well">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>

        <form name="step5" role="form" novalidate>

          <div class="checkbox">
            <label class="checkbox checkbox-custom">
              <input type="checkbox" name="agree" id="agree" ng-model="customerInfo.agree" required><i></i> I agree to the <a href class="text-info">Terms of Service</a>
            </label>
            <p class="help-block">
              <span ng-show="step5.agree.$invalid && !step5.agree.$pristine" class="text-red">You must accept Terms of Service.</span>
            </p>
          </div>

          <div class="checkbox">
            <label class="checkbox checkbox-custom">
              <input type="checkbox" name="newsletter" id="newsletter" ng-model="customerInfo.newsletter"><i></i> Receive newsletter</a>
            </label>
          </div>

          <button type="submit" class="btn btn-default" ng-click="steps.step4=true">Previous</button>
          <button type="submit" ng-disabled="step5.$invalid" class="btn btn-success pull-right">Finish</button>

        </form>

      </uib-tab> -->

    </uib-tabset>




  </div>
  <!-- /page content -->




</div>
