<div class="page page-form-wizard">
    <!-- page header -->
    <div class="pageheader">
        <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">Dispatches</a>
                </li>
                <li>
                    <a ui-sref="app.dispatch.dispatch_ride_request">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
     <div class="pagecontent">
        <div class="col-md-12">
            <section class="tile">
               <div class="tile-body">
                <form name="step2" role="form" novalidate>                    
                    <div class="row">
                       <div class="form-group col-md-4 mb-0">                       
                            <strong for="first_name">Customer First Name: <sup class="mandatory">*</sup></strong>
                            <input type="text" name="first_name" id="first_name" class="form-control" ng-model="customerInfo.first_name" required>
                            
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <strong for="last_name">Customer Last Name: <sup class="mandatory">*</sup></strong>
                            <input type="text" name="last_name" id="last_name" class="form-control" ng-model="customerInfo.last_name" ng-minlength="1" ng-maxlength="10" required>
                          
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-12 mb-0">
                            <strong>Select custom groups</strong>
                            <sup class="mandatory">*</sup>
                            <div class="tripnote">Note:Make sure you have a custom group to make a trip.If not click here <a ui-sref="app.custom-groups.create-groups">custom group</a> to create a group and make a trip and select custom groups which has single vehicle type.</div>
                            <br/>
                            <div ng-dropdown-multiselect="" options="customgroupdata" selected-model="customgroupModel" extra-settings="customgroupsettings" required></div>
                        </div>
                    </div>
                    <hr>
                    <div class="tripContainer" ng-show="!emptyCustomGroup">
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                <label for="name"><strong>Passenger Count:</strong></label>
                                <br/>
                                <input type="text" name="passenger_count" id="passenger_count" class="form-control" ng-model="trip.passenger_count" numbers-only>
                                <!--                             <p class="help-block">
                                <span ng-show="step2.passenger_count.$invalid && !step2.passenger_count.$pristine" style="color:red;">Passenger Count is required.</span>
                            </p> -->
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                <strong>Pick-up Date <sup class="mandatory">*</sup></strong>
                                <br/>
                                <div class="tile-body" ng-controller="DatepickerTripCtrl" style="margin-top:35px">
                                    <!--                                 <pre class="alert alert-info mt-20">Selected date is: <em>{{trip.pickupdate | date:'dd-MM-yyyy' }}</em></pre> -->
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="trip.pickupdate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                      </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-8 mb-0">
                                <strong>Pick-up Time <sup class="mandatory">*</sup><span class="tripnote">Make sure pickup time must be 5-10m later from the current time.</span></strong>
                                <br/>
                                <div class="tile-body" ng-controller="DispatchTimepickerCtrl">
                                    <uib-timepicker ng-model="trip.pickuptime" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="ismeridian" required></uib-timepicker>
                                    <!--                                 <button class="btn btn-sm btn-default" ng-click="clear1()">Clear</button> -->
                                   
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                        </div>
                        <!-- pick up and drop off by locality or airports ising autocomplete-->
                        <div class="row">
                            <div class="form-group col-md-12 mb-0">
                                <label><strong>Choose Pick up point by  &nbsp; <i class="fa fa-map-marker"></i>&nbsp;Locality &nbsp; OR &nbsp; Airports &nbsp;<i class="fa fa-plane"></i></strong></label><sup class="mandatory">*</sup>
                                <br/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                <div>
                                    <input type="text" name="pickup" id="pickup" class="form-control" placeholder="Enter the address" ng-model="pickup.name">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-12 mb-0">
                                <label><strong>Choose Drop off point by &nbsp;<i class="fa fa-map-marker"></i>&nbsp;Locality &nbsp; OR &nbsp; Airports &nbsp;<i class="fa fa-plane"></i></strong></label><sup class="mandatory">*</sup>
                                <br/>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                <br/>
                                <input ng-model="dropoff.name" type="text" name="dropoff" id="dropoff" class="form-control" placeholder="Enter the address" required>
                            </div>
                        </div>
                        <br/>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div>
                                    <div id="dvMap" style="width: 100%; height: 400px"></div>
                                    <!--<div id="dvPanel" style="width: 500px; height: 500px"></div> -->
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="vehicle_type">
                                <h3><strong>Please select your vehicle:</strong></h3> </label>
                            <ul style="list-style:none;">
                                <li ng-repeat="vehicle in vehicleType">
                                    <div class="row" ng-style="{ 'border':'solid 1px #DCDCDC','padding':'12px'}">
                                        <div class="form-group col-md-2">
                                            </br>
                                            <img ng-src="{{imagePath}}{{vehicle.image}}" style="width:100%;height:100%">
                                            <br/>
                                            <i class="fa fa-male fa-1g">&nbsp;&nbsp;&nbsp; {{vehicle.capacity}}</i>
                                            <br/> Price: $
                                            <input type="number" id="price_{{vehicle.id}}" class="form-control" ng-keyup="keyPress()" name="myDecimal" min="0" placeholder="Decimal" ng-model="myDecimal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required />
                                        </div>
                                        <div class="form-group col-md-8">
                                            <h2> {{vehicle.name}}</h2>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button ng-click="bookVehicle(vehicle)" ng-class="{'btn btn-activeButton mb-10' : vehicle.active, 'btn btn-default mb-10': !vehicle.active}">Book Now</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row-md-6 text-center">
                            <button ng-class="{'btn btn-activeButton mb-10':BookNow,'btn btn-default mb-10': !BookNow}" align='center' ng-disabled='step2.$invalid && !BookNow' ng-click='funcTripDispatch()'>Dispatch Trip Request</button>
                            <button ng-class="{'btn btn-activeButton mb-10':BookNow,'btn btn-default mb-10': !BookNow}" align='center' ng-disabled='step2.$invalid && !BookNow' ng-click='funcTripCancel()'>Cancel Trip Request</button>
                        </div>
                        <!--                     <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default" ng-click="funcMakeTrip(step2.$valid);">Make a Trip</button> -->
                    </div>
                </form>
                </div>
            </section>
        </div>
    </div>

   
            
    </div>
    <!-- /page content -->
</div>
