<div class="page page-form-wizard">

  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span> {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Dispatches</a>
        </li>
        <li>
          <a ui-sref="app.dispatch.pendingdispatches">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
    <!-- /page header -->
  <h3>Pending Dispatches</h3>
    <!-- page content -->
    <div class="pagecontent">
    <div ng-show="isEmptyPendingTrips">No pending dispatches</div>
           <div ng-repeat="list in tripList">
                <div class="row pendingList" style="float:left" >
                    <div class="col-lg-12">
                        <div><h3>Customer Details:</h3></div>
                        <div><b>Name:&nbsp; </b>{{list.customer.full_name}}</div>
                        <div><b>Pick up point:&nbsp; </b>{{list.start_destination.place}}</div>
                        <div><b>Drop off point:&nbsp; </b>{{list.end_destination.place}}</div>
                        <div><b>Pick up Date: &nbsp;</b>{{list.pick_up_at | date:"dd/MM/yyyy"}}</div>
                        <div><b>Pick up time: &nbsp;</b>{{list.pick_up_at | date:"hh:mm a"}}</div>
                    </div>
                </div>
            </div>
       
    </div>
</div>
