<div class="page page-single-order">
    <!-- page header -->
    <div class="pageheader">
        <h2>{{page.title}} <span>{{page.subtitle}}</span></h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">Dispatches</a>
                </li>
                <li>
                    <a ui-sref="app.shop.single-order">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->
    <!-- page content -->
    <div class="pagecontent">
        <div class="add-nav">
            <div class="nav-heading">
                <h3>Completed Dispatch Details :</h3>
                <span class="controls pull-right">
            <a ui-sref="app.dispatch.completeddispatches" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5" uib-tooltip="Back"><i class="fa fa-arrow-circle-left"></i></a>
            <!-- <a href="javascript:window.print()" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20" uib-tooltip="Print"><i class="fa fa-print"></i></a> -->
        </span>
            </div>
            <uib-tabset>
                <uib-tab heading="Details">
                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">
                            <!-- tile -->
                            <section class="tile time-simple">
                                <!-- tile body -->
                                <div class="tile-body">
                                    <!-- row -->
                                    <div class="row">
                                        <!-- col -->
                                        <!-- <div class="col-md-9">
                                           <h3><strong>Status:&nbsp;&nbsp;</strong><span style="font-size:15px;" class="label" ng-class="{'bg-success' : tripList.status == 'active','bg-warning' : tripList.status == 'disapproved','bg-primary' : tripList.status == 'pending','bg-danger' : tripList.status == 'blocked'}">{{ tripList.status }}</span></h3>
                                        </div> -->
                                         <div class="col-md-12">
                                            <p class="text-uppercase text-strong mb-10 custom-font">Customer Info</p>
                                            <ul class="wordBreak list-unstyled text-default lt-20">
                                                <li><strong class="inline-block">Name:</strong>&nbsp;&nbsp;{{dispatch_customer}}</li>
<!--                                                <li><strong class="inline-block">Mobile Number:</strong>&nbsp;&nbsp;{{dispatch_customer.mobile_number}}</li>
                                                <li><strong class="inline-block">Organisation:</strong>&nbsp;&nbsp;{{dispatch_customer.organisation}}</li> -->
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-uppercase text-strong mb-10 custom-font">Trip Info</p>
                                            <ul class="wordBreak list-unstyled text-default lt-20">
                                                <li><strong class="inline-block">Pick up location:</strong>&nbsp;&nbsp;{{dispatch_source.place}}</li>
                                               <li><strong class="inline-block"> Drop off location:</strong>&nbsp;&nbsp;{{dispatch_destination.place}}</li>
                                                <li><strong class="inline-block">Pickup At:</strong>&nbsp;&nbsp;{{dispatch_data.pick_up_at | date:'dd/MM/yyyy'}} &nbsp;&nbsp;{{dispatch_data.pick_up_at | date:'hh:mm a'}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" ng-show="isDispatchActive">
                                        <div class="col-md-12">
                                            <p class="text-uppercase text-strong mb-10 custom-font">Driver Info</p>
                                            <ul class="wordBreak list-unstyled text-default lt-20">
                                                <li><strong class="inline-block">Name:</strong>&nbsp;&nbsp;{{dispatch_driver.first_name}}&nbsp;&nbsp;{{dispatch_driver.last_name}}</li>
                                               <li><strong class="inline-block"> Email Id:</strong>&nbsp;&nbsp;{{dispatch_driver.email}}</li>
                                                <li><strong class="inline-block">Company:</strong>&nbsp;&nbsp;{{dispatch_driver.company}}</li>
                                                 <li><strong class="inline-block">Vehicle Type:</strong>&nbsp;&nbsp;{{dispatch_driver.vehicle.vehicle_type.name}}</li>
                                                <li><strong class="inline-block">Toll credit:</strong>&nbsp;&nbsp;${{dispatch_driver.toll_credit}}</li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <hr>
<!--                             <section class="tile tile-simple">
                                <div class="tile-body">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div>
                                                <div id="dvMap" style="width: 100%; height: 400px"></div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section> -->
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <!-- /page content -->
</div>

      
