<header class="clearfix" ng-controller="AllNotificationsCtrl">
    <!-- Branding -->
    <div class="branding {{main.settings.brandingColor}}">
        <a class="brand" ui-sref="app.dashboard">
            <span><strong>LIMO</strong>LOGIX</span>
        </a>
        <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
    </div>
    <!-- Branding end -->
    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
        <li class="sidebar-collapse divided-right">
            <a href="javascript:;" collapse-sidebar>
                <fa name="outdent"></fa>
            </a>
        </li>
    </ul>
    <!-- Left-side navigation end -->
    <!-- Right-side navigation -->
    <ul class="nav-right pull-right list-inline">
        <li class="dropdown notifications" uib-dropdown>
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <fa name="bell"></fa>
                <span class="badge bg-lightred notifications_badge" ng-show="notificationList.length">{{notificaton_count}}</span>
            </a>
            <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInLeft" role="menu">
                <div class="panel-heading">
                    You have <strong>{{notificaton_count}}</strong> notifications
                </div>
                <ul class="list-group message_list">
                    <li class="list-group-item" ng-show="notificationList[0]" ng-click="getNotificationId(notificationList.id)">
                        <a  ui-sref="app.notifications.notifications-all" class="media">
                            <div class="media-left">
                                <span class="media-object media-icon bg-danger">
                                    <fa name="car"></fa>
                                </span>
                            </div>
                            <div class="media-body">
<!--                                 <span class="block">{{notificationList[0].id}}</span> -->
                                <span class="block note_title">{{notificationList[0].message.title}}</span>
                                <span class="block">{{notificationList[0].message.body}}</span>
                                <small class="text-muted">{{notificationList[0].created_at | date:'dd/MM/yyyy' }} {{notificationList[0].created_at | date:'hh:mm a' }}</small>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item" ng-show="notificationList[1]" ng-click="getNotificationId(notificationList.id)">
                        <a  ui-sref="app.notifications.notifications-all" class="media">
                            <div class="media-left">
                                <span class="media-object media-icon bg-danger">
                                    <fa name="car"></fa>
                                </span>
                            </div>
                            <div class="media-body">
<!--                                 <span class="block">{{notificationList[1].id}}</span> -->
                                <span class="block note_title">{{notificationList[1].message.title}}</span>
                                <span class="block">{{notificationList[1].message.body}}</span>
                                <small class="text-muted">{{notificationList[1].created_at | date:'dd/MM/yyyy' }} {{notificationList[0].created_at | date:'hh:mm a' }}</small>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item" ng-show="notificationList[2]" ng-click="getNotificationId(notificationList.id)">
                        <a  ui-sref="app.notifications.notifications-all" class="media">
                            <div class="media-left">
                                <span class="media-object media-icon bg-danger">
                                    <fa name="car"></fa>
                                </span>
                            </div>
                            <div class="media-body">
<!--                                 <span class="block">{{notificationList[2].id}}</span> -->
                                <span class="block note_title">{{notificationList[2].message.title}}</span>
                                <span class="block">{{notificationList[2].message.body}}</span>
                                <small class="text-muted">{{notificationList[2].created_at | date:'dd/MM/yyyy' }} {{notificationList[0].created_at | date:'hh:mm a' }}</small>
                            </div>
                        </a>
                    </li>
                    <!--                     <li class="list-group-item" ng-show="message[0]" ng-click="getNotificationId(message.id)">
                        <a href="javascript:;" class="media">
                            <div class="media-left">
                                <span class="media-object media-icon bg-danger">
                                    <fa name="car"></fa>
                                </span>
                            </div>
                            <div class="media-body">
                                <span class="block">{{message[0].id}}</span>
                                <span class="block">{{message[0].title}}</span>
                                <span class="block">{{message[0].body}}</span>
                                <small class="text-muted">0 minutes ago</small>
                            </div>
                        </a>
                    </li> -->
                    <!--                         <li class="list-group-item" ng-show="message[1]" ng-click="getNotificationId(message.id)">
                        <a href="javascript:;" class="media">
                            <div class="media-left">
                                <span class="media-object media-icon bg-danger">
                                    <fa name="car"></fa>
                                </span>
                            </div>
                            <div class="media-body">
                                <span class="block">{{message[1].id}}</span>
                                <span class="block">{{message[1].title}}</span>
                                <span class="block">{{message[1].body}}</span>
                                <small class="text-muted">6 minutes ago</small>
                            </div>
                        </a>
                    </li> -->
                    <!--                         <li class="list-group-item" ng-show="message[2]" ng-click="getNotificationId(message.id)">
                        <a href="javascript:;" class="media">
                            <div class="media-left">
                                <span class="media-object media-icon bg-danger">
                                    <fa name="car"></fa>
                                </span>
                            </div>
                            <div class="media-body">
                                <span class="block">{{message[2].id}}</span>
                                <span class="block">{{message[2].title}}</span>
                                <span class="block">{{message[2].body}}</span>
                                <small class="text-muted">6 minutes ago</small>
                            </div>
                        </a>
                    </li>                     -->
                </ul>
                <div class="panel-footer" ng-show="!notificationList.length">
                    <a href="javascript:;">No notifications <fa name="angle-right" class="pull-right"></fa></a>
                </div>
                <div class="panel-footer" ng-show="notificationList.length">
                    <a ui-sref="app.notifications.notifications-all">Show all notifications <fa name="angle-right" class="pull-right"></fa></a>
                </div>
            </div>
        </li>
        <li class="dropdown nav-profile" uib-dropdown>
            <a href class="dropdown-toggle" uib-dropdown-toggle>
                <fa name="pencil" class="icon-user"></fa>
                <!--         <img src="images/profile-photo.jpg" alt="" class="img-circle size-30x30"> -->
                <span>
        {{loggedUser}}
          <fa name="angle-down"></fa></span>
            </a>
            <ul class="dropdown-menu animated littleFadeInRight" role="menu">
                <li ng-show="isAdmin">
                    <a href="#profile" ui-sref="app.profile.my_account">
                        <fa name="user"></fa>Profile
                    </a>
                </li>
                <li>
                    <a href="#logout" ui-sref="core.logout">
                        <fa name="sign-out"></fa>Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Right-side navigation end -->
</header>
