<div id="sidebar-wrap" ng-controller="NavCtrl">
    <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
        <uib-accordion-group is-open="status.isFirstOpen">
            <uib-accordion-heading>
                Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
            </uib-accordion-heading>
            <ul id="navigation" nav-collapse ripple>
                <li ui-sref-active="active" ng-show="isAdmin">
                    <a ui-sref="app.dashboard">
                        <fa name="dashboard"></fa> <span>{{ 'Menu.DASHBOARD' | translate }}</span></a>
                </li>
                <li ui-sref-active="active" ng-class="{'open':$state.includes('app.company')}" ng-show="isAdmin">
                    <a ui-sref="app.company">
                        <fa name="building"></fa> <span>{{ 'Menu.COMPANY_SETTINGS' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.company.details">
                                <fa name="caret-right"></fa> {{ 'Menu.COMPANY_INFORMATION' | translate }} </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-class="{'open':$state.includes('app.ui')}" ng-show="isAdmin">
                    <a ui-sref="app.dispatch">
                        <fa name="pencil" class="fa-car"></fa> <span>{{ 'Menu.DISPATCHES' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.dispatch.dispatch_ride_request">
                                <fa name="caret-right"></fa> {{ 'Menu.DISPATCH_RIDE_REQUEST' | translate }}</a>
                        </li>
<!--                          <li ui-sref-active="active">
                            <a ui-sref="app.dispatch.cancel_ride_request">
                                <fa name="caret-right"></fa> {{ 'Menu.CANCEL_RIDE_REQUEST' | translate }}</a>
                        </li> -->
                        <li ui-sref-active="active" ng-controller="AvailableDispatchesCtrl">
                            <a ui-sref="app.dispatch.availabledispatches">
                                <fa name="caret-right"></fa> {{ 'Menu.AVAILABLE_TRIPS' | translate }}<span class="badge badge-danger">{{available_dispatch_count}}</span></a>
                        </li>
                        <li ui-sref-active="active" ng-controller="PendingDispatchesCtrl">
                            <a ui-sref="app.dispatch.pendingdispatches">
                                <fa name="caret-right"></fa> {{ 'Menu.PENDING_TRIPS' | translate }}<span class="badge badge-danger">{{pending_dispatch_count}}</span></a>
                        </li>
                         <li ui-sref-active="active" ng-controller="ActiveDispatchesCtrl">
                            <a ui-sref="app.dispatch.activedispatches">
                                <fa name="caret-right"></fa> {{ 'Menu.ACTIVE_TRIPS' | translate }}<span class="badge badge-danger">{{active_dispatch_count}}</span></a>
                        </li>
                        <li ui-sref-active="active" ng-controller="InactiveDispatchesCtrl">
                            <a ui-sref="app.dispatch.inactivedispatches">
                                <fa name="caret-right"></fa> {{ 'Menu.INACTIVE_TRIPS' | translate }}<span class="badge badge-danger">{{inactive_dispatch_count}}</span></a>
                        </li>
                        <li ui-sref-active="active" ng-controller="CompletedDispatchesCtrl">
                            <a ui-sref="app.dispatch.completeddispatches">
                                <fa name="caret-right"></fa> {{ 'Menu.COMPLETED_TRIPS' | translate }}<span class="badge badge-danger">{{completed_dispatch_count}}</span></a>
                        </li>
                        <li ui-sref-active="active" ng-controller="DriverMapCtrl">
                            <a ui-sref="app.dispatch.drivermap">
                                <fa name="caret-right"></fa> Driver Map</span></a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active" ng-class="{'open':$state.includes('app.ui')}" ng-show="isAdmin">
                    <a ui-sref="app.custom-groups">
                        <fa name="pencil" class="fa-users"></fa> <span>{{ 'Menu.GROUPS' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.custom-groups.create-groups">
                                <fa name="caret-right"></fa> {{ 'Menu.CREATEGROUPS' | translate }}</a>
                        </li>
                        <!-- <li ui-sref-active="active">
                            <a ui-sref="app.custom-groups.groups-info">
                                <fa name="caret-right"></fa> {{ 'Menu.GROUPSINFO' | translate }}</a>
                        </li> -->
                    </ul>
                </li>
                   <li ui-sref-active="active" ng-class="{'open':$state.includes('app.ui')}" ng-show="isAdmin">
                    <a ui-sref="app.notifications">
                        <fa name="bell" class="fa-bell"></fa> <span>{{ 'Menu.NOTIFICATIONS' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active" ng-controller="AllNotificationsCtrl">
                            <a ui-sref="app.notifications.notifications-all">
                                <fa name="caret-right"></fa> {{ 'Menu.ALLNOTIFICATIONS' | translate }}<span class="badge badge-danger">{{notificaton_count}}</span></a>
                        </li>
                        <!-- <li ui-sref-active="active">
                            <a ui-sref="app.custom-groups.groups-info">
                                <fa name="caret-right"></fa> {{ 'Menu.GROUPSINFO' | translate }}</a>
                        </li> -->
                    </ul>
                </li>
                <li ui-sref-active="active" ng-class="{'open':$state.includes('app.ui')}" ng-show="isAdmin">
                    <a ui-sref="app.profile">
                        <fa name="pencil" class="icon-user"></fa> <span>{{ 'Menu.PROFILE' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.profile.my_account">
                                <fa name="caret-right"></fa> {{ 'Menu.MY_ACCOUNT' | translate }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.profile.reset_password">
                                <fa name="caret-right"></fa> {{ 'Menu.RESET_PASSWORD' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-class="{'open':$state.includes('app.shop')}" ng-hide="isAdmin">
                    <a ui-sref="app.driver">
                        <fa name="shopping-cart"></fa> <span>{{ 'Menu.DRIVER' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.driver.drivers">
                                <fa name="caret-right"></fa> {{ 'Menu.DRIVERS' | translate }}</a>
                        </li>
                        <!--  <li ui-sref-active="active">
                            <a ui-sref="app.shop.single-driver">
                                <fa name="caret-right"></fa> {{ 'Menu.SINGLE_ORDER' | translate }}</a>
                        </li> -->
                    </ul>
                </li>
                <li ui-sref-active="active" ng-class="{'open':$state.includes('app.free_ads')}" ng-hide = 'isAdmin'>
                    <a ui-sref="app.free_ads">
                        <fa name="shopping-cart"></fa> <span>{{ 'Menu.FREE_ADS' | translate }}</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.free_ads.file_upload">
                                <fa name="caret-right"></fa> {{ 'Menu.FILE_UPLOAD' | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </li>
            </ul>
            </li>
            </ul>
        </uib-accordion-group>
</div>
